.listView {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(255, 255, 255);
  }
  
  .ShowItem {
    width: 95%;
    height: 100px;
  }

  .showItemList {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .showItemListName {
    color: black;
  }
  
  .showItemListColor {
    color: black;
  }
  
  .showItemListPrice {
    color: red;
  }
  
  .showItemListImg {
    width: 90px;
    height: 90px;
  }
  
  .showItemListBut{
    background-color: rgb(253, 248, 248);
    border: 1px solid rgb(224, 40, 40);
    font: 1em sans-serif;
    color: red;
    font-weight: bold;
  }
  